<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/CSS/site.css" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

    <link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet" />
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-0" style="position: fixed; width: 100%; z-index: 1;">
            <div class="container-fluid mr-2">

                <button onclick="displaynav()" class="mr-4" style="border-radius:5px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-fill" viewBox="0 0 16 16">
                        <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3z" />
                    </svg>
                </button>

                <a class="navbar-brand text-white" style="font-size:90%" asp-controller="EmployeeHome" asp-action="Portal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                    </svg>
                    HOME
                </a>

                <button class="navbar-toggler" style="background-color:whitesmoke" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link text-white pr-4" asp-area="" asp-controller="Account" asp-action="Logout">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-power" viewBox="0 0 16 16">
                                    <path d="M7.5 1v7h1V1h-1z" />
                                    <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z" />
                                </svg><span class="pl-2" style="font-size:13px">LOG OUT</span>
                            </a>
                        </li>
                        @if (User.FindFirst("Designation").Value == "project manager")

                        {
                            <li><a class="text-white text-decoration-none" asp-area="" asp-controller="Home" asp-action="UserDashboard">DASHBOARD</a></li>
                        }

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PROJECT<span class="caret"></span></a>

                            <ul class="dropdown-menu ">
                                <li class="m-3"><a class="text-decoration-none text-white" asp-controller="Home" asp-action="GetProjects">VIEW PROJECTS</a></li>
                                <li class="m-3"><a class="text-decoration-none text-white" asp-controller="Home" asp-action="AddProject">ADD PROJECT</a></li>
                                <li class="m-3"><a class="text-decoration-none text-white" asp-controller="Customer" asp-action="AddCustomer">ADD CUSTOMER</a></li>
                                <li class="m-3"><a class="text-decoration-none text-white" asp-action="TaskOverview" asp-controller="Task">VIEW TASK</a></li>
                                <li class="m-3"><a class="text-decoration-none text-white" asp-action="SelectEmployee" asp-controller="Task">ADD TASK</a></li>
                                <li class="m-3"><a class="text-decoration-none text-white" asp-action="SelectResources" asp-controller="Task">VIEW AVAILABILITY</a></li>

                                <li class="m-3"><a class="text-decoration-none text-white" asp-action="AddSalaryInfo" asp-controller="Task">SALARY RATES</a></li>
                                <li class="m-3"><a class="text-decoration-none text-white" asp-action="ResourceAllocation" asp-controller="Task">RESOURCE ALLOCATION</a></li>
                            </ul>
                        </li>

                        <li class="dropdown ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PRE-SALES<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="m-3"><a class="text-decoration-none text-white" asp-controller="Project" asp-action="GetAllProjects">VIEW PROJECTS</a></li>
                                <li class="m-3"><a class="text-decoration-none text-white" asp-controller="Project" asp-action="AddNewProject">ADD PROJECT</a></li>
                                <li class="m-3"><a class="text-decoration-none text-white" asp-controller="Customer" asp-action="AddCustomer">ADD CUSTOMER</a></li>
                                @*<li class="m-3"><a class="text-decoration-none text-white" asp-controller="PreCustomer" asp-action="GetAllCustomers">ALL CUSTOMERS</a></li>
                                    <li class="m-3"><a class="text-decoration-none text-white" asp-controller="PreCustomer" asp-action="AddNewCustomer">ADD CUSTOMER</a></li>*@
                            </ul>
                        </li>

                        <li class="user">
                            <span style="color:antiquewhite; margin-left:70px">@(User.FindFirst("UserFirstName").Value + " " + User.FindFirst("UserLastName").Value)</span>
                            <img src="~/images/269-2697881_computer-icons-user-clip-art-transparent-png-icon.png" style="height:30px; width:35px;margin-left:20px; margin-right:-50px" />
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">

            <div id="sidenav" style="background-color: #101010d9; height: 630px; width: 255px; position: absolute; z-index: 1;display:none;color:white;padding-left:10px;overflow-y: scroll;">
                <div style="color:white;padding-top:20px"><a class="text-decoration-none text-white" asp-controller="Home" asp-action="UserDashboard">USER DASHBOARD</a></div>
                <label style="color:white;padding-top:20px">PROJECTS</label>
                <ul class="list-unstyled ml-4">
                    <li><a class="text-decoration-none text-white" asp-controller="Home" asp-action="GetProjects">All Projects</a></li>
                    <li><a class="text-decoration-none text-white" asp-controller="Home" asp-action="AddProject">Add Project</a></li>

                </ul>
                <label style="color:white;padding-top:20px">TASKS</label>
                <ul class="list-unstyled ml-4">
                    <li><a class="text-decoration-none text-white" asp-action="TaskOverview" asp-controller="Task">Task Dashboard</a></li>
                    <li><a class="text-decoration-none text-white" asp-action="SelectEmployee" asp-controller="Task">Add Task</a></li>
                    <li><a asp-action="GetTasks" asp-controller="Task" class="text-white text-decoration-none">Cumulative View</a></li>
                    <li><a asp-action="TodayAllocatedTasks" asp-controller="Task" class="text-white text-decoration-none">Today Allocation</a></li>
                </ul>
                <label style="color:white;padding-top:20px">RESOURCES</label>
                <ul class="list-unstyled ml-4">
                    <li><a class="text-decoration-none text-white" asp-action="ResourceAllocation" asp-controller="Task">Allocate Resources</a></li>
                    <li><a class="text-decoration-none text-white" asp-action="SelectResources" asp-controller="Task">View Availability</a></li>
                </ul>
                <label style="color:white;padding-top:20px ">CUSTOMERS</label>
                <ul class="list-unstyled ml-4">
                    <li><a class="text-decoration-none text-white" asp-controller="Customer" asp-action="AddCustomer">Add Customers</a></li>
                </ul>
                <label style="color:white; padding-top:20px ">RATES</label>
                <ul class="list-unstyled ml-4">
                    <li><a class="text-decoration-none text-white" asp-action="AddSalaryInfo" asp-controller="Task">Salary Rates</a></li>
                </ul>
                <label style="color:white; padding-top:20px ">PRE-SALES</label>
                <ul class="list-unstyled ml-4">
                    <li><a class="text-decoration-none text-white" asp-controller="Project" asp-action="GetAllProjects">VIEW PROJECTS</a></li>
                    <li><a class="text-decoration-none text-white" asp-controller="Project" asp-action="AddNewProject">ADD PROJECT</a></li>
                </ul>
            </div>


            <div onclick="hidenav()">
                @RenderBody()
            </div>

        </main>
    </div>

    <footer class="border-top footer text-muted mt-5">
        <div class="container text-white text-center">
            &copy;Bellvantage - <a>Projects</a>
        </div>
    </footer>

    <script>
        function displaynav() {
            $('#sidenav').show();
        }
        function hidenav() {
            $('#sidenav').hide();
        }
    </script>







    @*<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>*@
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>


    <script>
        AOS.init();
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/jquery-validate/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>


    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>



    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
