<div class="sidebar">
    <h5 class="text-center" style="font-family:Arial;background-color:#173A47;color:white;margin-bottom:20px;line-height:80px"> <i class="fas fa-cog fa-spin"></i> Review Points</h5>
    <a   asp-controller="ReviewDash" asp-action="ReviewDash" style="line-height:15px"><i class="fa fa-bar-chart" style="margin-right:8px"></i>My Points</a>
    <a  asp-controller="ReviewWorkQuality" asp-action="Index" style="line-height:15px"><i class="fas fa-laptop-code" style="margin-right:8px"></i>Work Quality</a>
    <a asp-controller="ReviewEfficiency" asp-action="Index" class="btn-block" style="line-height:15px"><i class='fas fa-poll' style="margin-right:8px"></i>Efficiency</a>
    <a asp-controller="ReviewCommunication" asp-action="Communication" class="btn-block" style="line-height:15px"><i class='fas fa-hand-holding-heart' style="margin-right:8px"></i>Communication</a>
    
    </div>