
@model TaskCount

<div style="background-color: #b35c116b; border-radius: 5px; margin-bottom: 10px; text-align: center;">
    <label>Ongoing Tasks: - @Model.Ongoing</label>
</div>
<div style="background-color: #2965806b; border-radius: 5px; margin-bottom: 10px; text-align: center;">
    <label>Pending Tasks: - @Model.Pending</label>
</div>
<div style="background-color: #9693236b; border-radius: 5px; margin-bottom: 10px; text-align: center;">
    <label>TimeOut Tasks: - @Model.TimeOut</label>
</div>
<div style="background-color: #18672a6b; border-radius: 5px; margin-bottom: 10px; text-align: center;">
    <label>Finalized Tasks: - @Model.Finalized</label>
</div>