
@import url('file:///E:\Projects\VPMS\VPMS_Project\VPMS_Project\wwwroot\CSS\login.css');
/*@import url('https://fonts.googleapis.com/css?family=Numans');*/
#particles-js {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    top: 0px;
    z-index: 1;
}

#login-box {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 0 auto;
    min-height: 250px;
    padding: 20px;
    z-index: 9999;
}

html, body {
      /*  background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');*/
    background-image: url('https://images.unsplash.com/photo-1547190027-9156686aa2f0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3 {
    color: white;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

/*input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}*/

.remember {
    color: white;
}

    .remember input {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 5px;
    }

    footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}
