@{
    Layout = "_Layout2";
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="addQ">
    <p>VPMS Home</p>

    <div class="jumbotron mb-5">
        <h1 class="display-4">Hello, Welcome @User.FindFirst("UserFirstName").Value!</h1>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" asp-controller="EmployeeHome" asp-action="Portal" role="button">Get Started</a>
        </p>
    </div>
</div>
