


@{
    Layout = "_ReviewLayout";
    ViewData["Title"] = "Dashboard";
}
@model CommunicationModel
<link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<style>

    .content {
        margin-right: auto;
        margin-right: auto;
    }


    #h {
        font-family: Cambria;
        border-color: black;
        text-align: center;
        background-color: gainsboro;
        border-radius: 25px;
        padding: 30px;
    }
</style>

<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">



<div class="content text-center">
    <div class="col-md-8 col-lg-12 col-sm-12">
        <br>    <h4 id="h" style="font-family:Castellar;line-height:50px">
            <b>Rate For Others</b>
        </h4>
    </div>
        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success alert-dismissible fade show container" role="alert">
                <strong>Successful!</strong> You have done successfully.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <br>

        }
        <form enctype="multipart/form-data" method="get" asp-action="Communication" asp-controller="ReviewCommunication">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <select name="id" class="form-control custom-select" asp-items="ViewBag.Emps" required>
                            <option value="">Choose Employee</option>
                        </select>
                    </div>

                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <input name="Val" type="range" min="0" max="100" value="0" oninput="this.form.amountInput.value=this.value" class="form-control" placeholder="Enter Value for workQuality" required />
                        <input type="number" name="amountInput" min="0" max="100" value="0" oninput="this.form.amountRange.value=this.value" />
                    </div>
                </div>
            </div>
             <div class="form-group">
                <input type="submit" value="Submit" class="btn-block" />
            </div>
        </form>

    <br>
    @{
        string user = User.FindFirst("Index").Value;
    }
    @await Component.InvokeAsync("communication", new { user = user })

</div>





