
@{
    ViewData["Title"] = "GetBudgetByProjectId";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="display-4 text-center">Project Budget</h3>
    <hr />
    <div class="col">
        <div class="row">
            <h4>Project Name</h4>
        </div>
    </div>

</div>
